<section class="block container block-domain">
  <header class="block__header">
    <h2>There are Total 3 Levels</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit magnam
      placeat molestias laboriosam eaque quia.
    </p>
  </header>
  <div class="input--group">
    <input type="text" class="input" placeholder="Enter Domain name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use></svg
      >Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">pass</span></li>
    <li>pass</li>
    <li>pass</li>
    <li>pass</li>
    <li>pass</li>
    <li>pass</li>
  </ul>
</section>
